<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>625971697406-3crspfqrpqh8g6ml3i614gl7tr8vqhrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625971697406-3crspfqrpqh8g6ml3i614gl7tr8vqhrc</string>
	<key>API_KEY</key>
	<string>AIzaSyCxSKzvibj_QX0Nf83V2p-v25OQv9x49fo</string>
	<key>GCM_SENDER_ID</key>
	<string>625971697406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.PuzzleMaze</string>
	<key>PROJECT_ID</key>
	<string>colormaze-8de04</string>
	<key>STORAGE_BUCKET</key>
	<string>colormaze-8de04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625971697406:ios:2817d8401546f91e</string>
	<key>DATABASE_URL</key>
	<string>https://colormaze-8de04.firebaseio.com</string>
</dict>
</plist>